## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,1,Hobyo,SO,78.40,Clouds,5.3505,48.5268,Halane Hotel and Restaurent
1,4,Vaini,TO,77.16,Clouds,-21.2000,-175.2000,Keleti Beach Resort
2,11,Kapaa,US,84.18,Clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,13,Caiaponia,BR,76.89,Clouds,-16.9567,-51.8103,HOTEL PALACE AVENIDA & CAIAPÓ TURISMO
4,15,Riohacha,CO,82.26,Clouds,11.5444,-72.9072,Hotel Taroa

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,1,Hobyo,SO,78.40,Clouds,5.3505,48.5268,Halane Hotel and Restaurent
1,4,Vaini,TO,77.16,Clouds,-21.2000,-175.2000,Keleti Beach Resort
2,11,Kapaa,US,84.18,Clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,13,Caiaponia,BR,76.89,Clouds,-16.9567,-51.8103,HOTEL PALACE AVENIDA & CAIAPÓ TURISMO
4,15,Riohacha,CO,82.26,Clouds,11.5444,-72.9072,Hotel Taroa
5,24,Kimbe,PG,82.17,Clouds,-5.5502,150.1429,Kimbe Bay Hotel
6,29,Birao,CF,77.25,Clouds,10.2849,22.7882,NaN
7,35,Kota Kinabalu,MY,82.38,Clouds,5.9749,116.0724,Gaya Centre Hotel
8,46,Mitsamiouli,KM,76.10,Clear,-11.3847,43.2844,Foyer ADM
9,49,Luwuk,ID,82.44,Clouds,-0.9516,122.7875,Hotel Santika Luwuk

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Touros"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Touros"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Natal"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Pitimbu"]
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Maragogi"]
vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
104,305,Touros,BR,77.9,Clouds,-5.1989,-35.4608,INN NEW HORIZON

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()
end = vacation_end[["Lat", "Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
dir_layer_map = gmaps.directions_layer(start[0], end[0], waypoints = [stop1[0], stop2[0], stop3[0]],
        travel_mode = 'DRIVING')
fig.add_layer(dir_layer_map)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,305,Touros,BR,77.90,Clouds,-5.1989,-35.4608,INN NEW HORIZON
1,543,Natal,BR,79.02,Clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
2,393,Pitimbu,BR,75.79,Clouds,-7.4706,-34.8086,Reserva do Abiaí
3,392,Maragogi,BR,76.68,Clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))